main,
.content-heading,
.content-main {
  position: relative;
}

main {
  margin: 66px 0 var(--large);
  padding: var(--medium) 0;
}

section {
  margin: var(--medium) auto;
  @include breakpoint-m {
    margin: var(--large) auto;
  }
  @include breakpoint-xl {
    margin: var(--xlarge) auto;
  }
}

aside {
  background: #fff;
  height: 100vh;
  margin: 0 !important;
  max-width: 600px !important;
  padding: 40px;
}
