@import "../modules/all";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%; // 1 rem = 10px
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  color: $grey--dark;
  background: #fff;
  font: {
    family: $base-font-family;
    size: $base-font-size;
    weight: $base-font-weight;
  }
  line-height: $base-line-height;
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  &.noscroll {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

hr {
  color: #d2d2d2;
  margin: $medium 0;
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
