.button,
button {
  background: var(--navy);
  border: 0;
  border-radius: var(--radius-small);
  box-sizing: border-box;
  color: var(--beige);
  cursor: pointer;
  display: inline-block;
  font: {
    size: var(--body-font-small);
    weight: var(--regular);
  }
  letter-spacing: 0.2px;
  padding: var(--small) var(--medium);
  text-align: center;
  transition: all ease-in-out var(--slow);

  &:visited {
    background: var(--navy);
    color: var(--beige);
  }
  &:active,
  &:hover {
    background: var(--navy);
    color: var(--beige);
    filter: brightness(1.2);
    outline: 0;
    text-decoration: none;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    background: var(--beige);
    color: var(--navy);
    outline: 0;
  }
}

@include breakpoint-s {
  .button.primary {
    font-size: var(--body-font-med);
    font-weight: var(--bold);
  }
}

.button--reversed,
.button--reversed:hover,
.button--reversed:active {
  background: var(--beige);
  color: var(--navy);
}

.button-centered {
  display: flex;
  justify-content: center;
}

.icon-button {
  height: 40px;
  padding: var(--small);
  width: 40px;

  .icon {
    stroke: var(--beige);
  }

  &:focus {
    .icon {
      stroke: var(--navy);
    }
  }
}
