form {
  background: $grey;
  border-radius: $rounded;
  margin: $medium auto;
  max-width: 500px;
  padding: $medium;
  width: 100%;

  @include breakpoint-s {
    margin: $large auto;
  }
}

input,
textarea,
select,
fieldset {
  margin-bottom: $medium;
}

input,
textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid $grey--med;
  border-radius: $rounded;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: 1.6rem;
  height: 40px;
  padding: 5px $small;
  width: 100%;

  &:focus {
    border: 1px solid $primary;
    outline: 0;
  }
}

select {
  @extend input;
  appearance: normal;
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

label,
legend {
  color: $grey--dark;
  display: block;
  font-weight: $base-font-weight;
  margin-bottom: 0;
  position: relative;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.radio-list,
.checkbox-list {
  padding-left: 0;
  margin: $large 0;
}

.radio-list__item,
.checkbox-list__item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: $medium;
  }
}

.radio-list-item__label,
.checkbox-list-item__label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
}

.custom-radio,
.custom-checkbox {
  background: white;
  border-radius: $rounded;
  box-shadow: 0 0 0 1px $grey--med;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 8px 0 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 32px;
}
.custom-radio {
  border-radius: 18px;
}

input:active + .custom-radio,
input:active + .custom-checkbox {
  box-shadow: 0 0 0 1px $primary;
}
input:focus + .custom-radio,
input:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px $primary;
}

input[type="radio"]:checked + .custom-radio:after,
input[type="checkbox"]:checked + .custom-checkbox:after {
  border-radius: $rounded;
  content: "";
  display: inline-block;
}
input[type="radio"]:checked + .custom-radio:after,
input[type="checkbox"]:checked + .custom-checkbox:after {
  background: $primary;
  height: 28px;
  margin: 0 auto;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  width: 28px;
}

input[type="radio"]:checked + .custom-radio:after {
  border-radius: 50%;
}

input[type="submit"],
input[type="button"] {
  @extend .button;
  height: auto;
  margin-bottom: 0;
  width: 100%;

  @include breakpoint-s {
    max-width: 180px;
  }
}

::-webkit-input-placeholder {
  color: $grey--dark;
}
::-moz-placeholder {
  color: $grey--dark;
}
