form {
  background: var(--navy);
  border-radius: var(--radius-small);
  margin: var(--medium) auto;
  max-width: 500px;
  padding: var(--medium);
  width: 100%;

  @include breakpoint-s {
    margin: var(--large) auto;
  }
}

input,
textarea,
select,
fieldset {
  margin-bottom: var(--medium);
}

input,
textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--grey);
  border-radius: var(--radius-small);
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: var(--body-font-med);
  height: 40px;
  padding: 5px var(--small);
  width: 100%;

  &:focus {
    border: 1px solid var(--beige);
    outline: 0;
  }
}

select {
  @extend input;
  appearance: normal;
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

label,
legend {
  color: var(--beige);
  display: block;
  margin-bottom: 0;
  position: relative;
}

fieldset {
  border-width: 0;
  padding: 0;
}

.form-field__heading {
  color: var(--beige);
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.radio-list,
.checkbox-list {
  padding-left: 0;
  margin: var(--large) 0;
}

.radio-list__item,
.checkbox-list__item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: var(--medium);
  }
}

.radio-list-item__label,
.checkbox-list-item__label {
  cursor: pointer;
  display: inline-block;
  font-size: var(--body-font-med);
}

.custom-radio,
.custom-checkbox {
  background: white;
  border-radius: var(--radius-small);
  box-shadow: 0 0 0 1px var(--navy);
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 8px 0 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 32px;
}
.custom-radio {
  border-radius: 18px;
}

input:active + .custom-radio,
input:active + .custom-checkbox {
  box-shadow: 0 0 0 1px var(--beige);
}
input:focus + .custom-radio,
input:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px var(--beige);
}

input[type="radio"]:checked + .custom-radio:after,
input[type="checkbox"]:checked + .custom-checkbox:after {
  border-radius: var(--radius-small);
  content: "";
  display: inline-block;
}
input[type="radio"]:checked + .custom-radio:after,
input[type="checkbox"]:checked + .custom-checkbox:after {
  background: var(--beige);
  height: 28px;
  margin: 0 auto;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  width: 28px;
}

input[type="radio"]:checked + .custom-radio:after {
  border-radius: 50%;
}

input[type="submit"] {
  height: 40px;
  padding: 0;
  margin-bottom: 0;
  width: 100%;

  @include breakpoint-s {
    max-width: 200px;
  }
}

::-webkit-input-placeholder {
  color: var(--navy);
}
::-moz-placeholder {
  color: var(--navy);
}
