.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 0;
  stroke: var(--beige);
  transition: all var(--slow);
  vertical-align: middle;
  width: 20px;

  @include breakpoint-s {
    height: 20px;
    width: 20px;
  }
}
