.wrapper {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.container {
  margin: var(--medium) auto;
  max-width: 1200px;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint-s {
    align-items: flex-start; // prevents vertical stretching
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// fix for slider within CSS grid, which by default uses 'min-width: auto'
.grid-item {
  min-width: 0;
}

@include breakpoint-s {
  .grid {
    display: grid;
    grid-gap: 20px;
  }

  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include breakpoint-m {
  .col-3,
  .col-4,
  .col-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint-l {
  .col-4,
  .col-5 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint-xl {
  .col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
