ol,
ul {
  padding-left: 20px;
  margin: var(--medium) 0 var(--medium) var(--medium);
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: var(--medium) 0 var(--medium) var(--large);
}

li {
  margin-bottom: 10px;
}
