.accordion {
  margin: var(--medium) auto;
}

.accordion__trigger {
  background: var(--navy);
  border: 0;
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  color: var(--beige);
  cursor: pointer;
  display: block;
  font-size: var(--body-font-med);
  font-weight: bold;
  padding: 8px 16px;
  position: relative;
  text-align: left;
  width: 100%;

  &:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    top: 4px;
    right: 10px;
  }
}

.accordion__content {
  background: var(--grey);
  border-radius: 0 0 var(--radius-small) var(--radius-small);
  display: none;
  font-size: var(--body-font-med);
  padding: var(--medium);

  *:last-child {
    margin-bottom: 0;
  }
}

.open {
  .accordion__trigger {
    background: var(--beige);
    color: var(--navy);
    &:after {
      content: "-";
    }
  }
  .accordion__content {
    display: block;
  }
}
