.card {
  background: #fff;
  position: relative;
}

.card__card-media {
  background: var(--grey);
}

.card-media__image {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
  margin: 0 auto;
}

.card__card-info {
  font-size: var(--body-font-small);
  padding: var(--small);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-info__title {
  display: block;
  font-size: var(--body-font-large);
  margin-bottom: 10px;
}
