.modal {
  background: rgba(38, 153, 251, 0.9);
  display: none;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9998;

  &.open {
    display: block;
  }
}

.container--modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

// modal content
.modal__content {
  background: #fff;
  border-radius: $rounded;
  margin: 0 auto;
  max-height: 90vh;
  overflow-y: scroll;
  padding: $large $medium $medium;
  position: relative;
  width: 90%;
  z-index: 9999;

  *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint-l {
    padding: $large;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
}
