:root {
  // colour
  --beige: #b89d87;
  --navy: #232551;
  --grey: #f2f2f2;

  // font
  --light: 300;
  --regular: 400;
  --bold: 700;

  --body-font-family: "Open Sans", sans-serif;

  --body-font-small: 1.4rem;
  --body-font-med: 1.6rem;
  --body-font-large: 1.8rem;

  --base-lh: 1.6;

  // units
  --small: 10px;
  --medium: 20px;
  --large: 40px;
  --xlarge: 80px;

  // border-radius
  --radius-small: 5px;
  --radius-med: 10px;
  --radius-large: 15px;

  // transitions
  --slow: 0.4s;
  --fast: 0.2s;
}

// media query breakpoints
$phone: 550px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
